@CHARSET "ISO-8859-1";

/******************index.php***************************/

#titre{
	color: red;
	text-align: center;
}

p{
	text-align: center;
	padding-top: 2cm;
}

label{
	display: block;
	float: left;
}

input{
	float: right;
}

#formulaire{
	text-align: center;
	margin: auto;
	width: 627px;
	margin-top: 40px;
} 

#inscription{
	float: left;
	padding-right: 30px;
	border-right: 2px solid;
}

#connexion{
	float: left;
	margin-left: 30px; 
}

#formulaire .form-control{
	width:50%;
}

#connexion .form-control{
	width:50%;
}

.lineForm{
	height:40px;
}
   
footer
{
	position:fixed;
	bottom:0;
	left:0;
	height:100px;
}

#plan
{
	position:fixed;
	bottom:10px;
	right:10px;
}

#mentions
{
	position:fixed;
	bottom:10px;
	left:10px;
}

/******************session.php***************************/

h1
{
	text-align:center;
}

.texte
{
	font-family:Andale Mono, monospace;
}

h4
{
	margin-left:60px;
	padding-top:30px;
}

#informationSession
{
	margin-left:30px;
	padding-top: 20px;
}

#boutonDeconnexion
{
	position: absolute;
	top: 1em;
	right: 1em;
}

#boutonCodeBarre
{
	float:left;
	margin-top:40px;
}

#tableau
{
	float:right;
	margin-top:-227px;
}

.imageTableau
{
	height:50px;
	width:50px;
}

#boutonGestion
{
	position:absolute;
	top:15px;
	right:140px
}

/**********************************codebarre.php************************************/

.formulaireAjoutCodeBarre
{
	float:left;
	margin-left:40px;
}

.parcourir
{
	width:50%;
	margin-top:50px;
}

#description
{
	height:80px;
	max-height:300px;
	max-width:500px;
}

#selectionTypeCodeBarre
{
	margin-top:58px;
}

/*****************************afficherDetail.php***************************************/


.boutonRetourSession
{
	position:absolute;
	top:10px;
	right:10px
}

.titreAfficherDetail
{
	font-family: "Times New Roman", Georgia, Serif;
}

.imageDetail
{
	max-height:280px;
	max-widht:300px;
    margin-left:220px;
    margin-top:40px;
}

.referenceTypeDetail
{
	float:right;
	margin-top:265px;
	font-size: 20px;
	font-family: "Times New Roman", Georgia, Serif;
}

.descriptionDetail
{
	font-size:16px;
	font-family: "Times New Roman", Georgia, Serif;
	width:80%;
	margin:auto;
}

.titreDescription
{
	font-size:24px;
	margin-top:80px;
	font-family: "Times New Roman", Georgia, Serif;
}


/**************************************************Gestion********************************************/

#boutonSupprimerUtilisateur
{
	position:fixed;
}