@CHARSET "ISO-8859-1";

/******************index.php***************************/

#titre{
	color: red;
	text-align: center;
}

p{
	text-align: center;
	padding-top: 2cm;
}

label{
	display: block;
	float: left;
}

input{
	float: right;
}

#formulaire{
	text-align: center;
	margin: auto;
	width: 627px;
	margin-top: 40px;
} 

#inscription{
	float: left;
	padding-right: 30px;
	border-right: 2px solid;
}

#connexion{
	float: left;
	margin-left: 30px; 
}

#formulaire .form-control{
	width:50%;
}

#connexion .form-control{
	width:50%;
}

.lineForm{
	height:40px;
}
   
footer
{
	position:fixed;
	bottom:0;
	left:0;
	height:100px;
}

#plan
{
	position:fixed;
	bottom:10px;
	right:10px;
}

#mentions
{
	position:fixed;
	bottom:10px;
	left:10px;
}

/******************session.php***************************/

h1
{
	text-align:center;
}

h4
{
	margin-left:60px;
	padding-top:30px;
}

#informationSession
{
	margin-left:30px;
	padding-top: 20px;
}

#boutonDeconnexion
{
	position: absolute;
	top: 1em;
	right: 1em;
}